.poke-button {
  padding: 0.6rem 1.2rem;
  border-radius: 50%;

  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }

  &--red {
    background-color: map-get($colors, 'red');
  }
  &--gray {
    background-color: map-get($colors, 'gray');
  }
}
