.poke-button {
  padding: 0.7rem 1.2rem;
  border-radius: 60px;
  display: block;
  border: none;
  color: map-get($colors, 'white');
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 0.6px;
  cursor: pointer;

  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }

  &--small {
    width: 10rem;
  }
  &--medium {
    width: 17.1rem;
  }
  &--large {
    width: 22rem;
  }

  &--red {
    background-color: map-get($colors, 'red');
  }
  &--gray {
    background-color: map-get($colors, 'gray');
  }
}
