.poke-button {
  padding: 11px 20px;
  border-radius: 50%;

  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }

  &--red {
    background-color: ($colors, $red);
  }
  &--gray {
    background-color: ($colors, $gray);
  }
}
